* {
  box-sizing: border-box;
  font-family: 'inter', sans-serif;
}

.container {
  background-color: #1E2C47;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.content {
  display: flex;
  flex-grow: 1;
    background-color: #f0f0f0;
}

.logo {
    flex: 1;
    background-color: #f0f0f0;
}

.form {
    flex: 1;
}