button {
    background-color: #FDB600;
    border: none;
    border-radius: 25px;
    height: 40px;
    color: #1E2C47;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #FDB600;
}